.sketchy-email-container {
    padding: 1rem;
    height: auto;
    min-height: calc(100vh - 75px - 150px);
    background-color: white;
}

.faked-email-content {
    position: relative;
    width: 80%;
    top: -125px;
    padding-left: 100px;
    text-align: left;
    font-size: 14px;
}

.faked-email-header {
    font-size: 13px;
    width: 450px;
    text-align: left;
    margin-left: 10px;
}

.delete-email {
    position: relative;
    right: 10px;
    top: -95px;
    height: 50px;
    width: 315px;
    font-size: 12px;
    text-align: right;
    float: right;
}

.faked-email-reply {
    position: relative;
    height: 50px;
    right: 60px;
    top: -45px;
    font-size: 12px;
    text-align: right;
}

.statistics .progress-bar {
    background-color: #8f0f1c;
}

.md-dialog-content-body,
.md-dialog-content-body h1,
.md-dialog-content-body h4 {
    line-height: 1.2;
}

.md-dialog-content-body h1 {
    margin-top: 0;
}

.interactive { overflow-y: scroll; }
