<link rel="stylesheet" href="components/about-us/aboutUs.css" />
<div class="content-container about-us container">
    <h2>About Us</h2>
    <p>Cover Your Apps is a project concieved at Stanford University for CS 194. It is an interactive platform designed to teach applicable computer safety skillls</p>
    <h3>Our Team</h3>
    <div class="row">
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/gabbi.jpg" class="img-responsive img-circle">
			<h4><a ng-href="https://github.com/gabbifish" target="_blank">Gabbi Fisher</a></h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/alec.jpg" class="img-responsive img-circle">
			<h4><a ng-href="https://github.com/alecglassford" target="_blank">Alec Glassford</a></h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/sasha.jpg" class="img-responsive img-circle">
			<h4><a ng-href="https://github.com/sashaperigo" target="_blank">Sasha Perigo</a></h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/shirin.jpg" class="img-responsive img-circle">
			<h4><a ng-href="https://github.com/shirinesalehi" target="_blank">Shirin Salehi</a></h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/emily.jpg" class="img-responsive img-circle">
			<h4><a ng-href="https://github.com/emilyxie" target="_blank">Emily Xie</a></h4>
		</div>
	</div>
</div>