<div class="content-container about-us container">
    <h2>About Us</h2>
    <p>Cover Your Apps is a project concieved at Stanford University for CS 194. It is an interactive platform designed to teach applicable computer safety skillls</p>
    <h3>Our Team</h3>
    <div class="row">
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/gabbi.jpg" class="img-responsive img-circle">
			<h4>Gabbi Fisher</h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/alec.jpg" class="img-responsive img-circle">
			<h4>Alec Glassford</h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/sasha.jpg" class="img-responsive img-circle">
			<h4>Sasha Perigo</h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/shirin.jpg" class="img-responsive img-circle">
			<h4>Shirin Salehi</h4>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<img src="/img/headshots/emily.jpg" class="img-responsive img-circle">
			<h4>Emily Xie</h4>
		</div>
	</div>
</div>