.interactive {
    width: 100%;
    height: calc(100vh - 75px - 150px);
}

.content {
    margin-top: 225px;
    transform: translateY(-50%);
    width: 75%;
    left: 12.5%;
    position: absolute;
    text-align: center;
}

.interactive .content h3, h4 {
    line-height: 1.5;
}

a {
    text-decoration: underline;
}
