.interactive {
    width: 100%;
    background-color: #d3d3d3;
    height: calc(100vh - 75px - 150px);
    padding: 1rem;
    text-align: center;
}

.interactive h4 {
	line-height: 1.5;
}

a {
    text-decoration: underline;
}
