/* jssor slider bullet navigator skin 21 css */


/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/

.jssorb21 {
    position: absolute;
}

.jssorb21 div,
.jssorb21 div:hover,
.jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(/img/slider-images/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

.jssorb21 div:hover,
.jssorb21 .av:hover {
    background-position: -35px -5px;
}

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn,
.jssorb21 .dn:hover {
    background-position: -95px -5px;
}

.jssora21l,
.jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(/img/slider-images/a21.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
    background-position: -303px -33px;
}

#slide-image-overlay {
    min-height: 50px;
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 100;
    text-align: center;
    overflow-y: hidden;
}

#slide-image-overlay-text {
    width: 75%;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50%));
    left: 12.5%;
}

.call-to-action .button {
    background-color: #851e1e;
    color: #ffffff;
    min-width: 100px;
    font-size: 1.5rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.call-to-action .button a {
    color: #ffffff;
}

.call-to-action .button:hover {
    background-color: #b92631;
    outline-color: #b92631;
}

.call-to-action h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

.emphasize-text {
    color: #851e1e;
    font-weight: 800;
}


/* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */

.navbar-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 51px;
}

.navbar-wrapper > .container {
    padding: 0;
}

@media all and (max-width: 768px) {
    .navbar-wrapper {
        position: relative;
        top: 0px;
    }
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.ng-scope {
    max-width: 100%;
    overflow-x: hidden;
}

.row.row-even,
.row.row-odd {
    padding: 5em;
}

.row-odd {
    background-color: #ffffff;
}

.row-even {
    background-color: rgba(211, 211, 211, 1);
}
