<link rel="stylesheet" href="components/landing/landing.css" />
<script src="/js/docs.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="/js/jssor.slider.mini.js"></script>
<script src="components/landing/landing.js"></script>

<body>
    <div id="slide-image-overlay">
        <div class="slide-image-overlay-text">
            <h1>Learn Computer Security with 
            <br />
            Cover Your Apps</h1>
            <br />
            <md-button ng-href="#!/module-list" class="button">
                Get Started
            </md-button>
        </div>
    </div>
    <div style="min-height: 50px;">
        <!-- Jssor Slider Begin -->
        <!-- ================================================== -->
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0;
        top: 0px; left: 0px; width: 1000px; height: 300px; overflow: hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position:absolute;top:0px;left:0px;background:url('/img/slider-images/loading.gif') no-repeat 50% 50%; background-color: rgba(0, 0, 0, .7);"></div>
            <!-- Slides Container -->
            <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
                <div>
                    <img u="image" class="slide-image" src2="/img/slider-images/1920/red.jpg" />
                </div>
                <div>
                    <img u="image" class="slide-image" src2="/img/slider-images/1920/purple.jpg" />
                </div>
                <div>
                    <img u="image" class="slide-image" src2="/img/slider-images/1920/blue.jpg" />
                </div>
            </div>
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="https://www.jssor.com">Bootstrap Carousel</a>
        </div>
        <!-- Jssor Slider End -->
    </div>
    </div>
    <div class="row row-odd">
        <div class="col-sm-4 text-right">
            <h2>Can learning internet safety help you?</h2>
        </div>
        <div class="col-sm-8">
            <h2>Yes!</h2>
            <p>Learning about internet safety is helpful for absolutely everyone. In fact, most people have almost no formal training in internet safety. However, Cover Your Apps aims to change that!</p>
            <p>Even the chairman of the Hillary Clinton campagin, John Podesta, could have used some internet safety training. Start our popular <a href="#!/phishing"><span class="emphasize-text">Internet Safety Module</span></a> to learn more about his story and how you can avoid common phishing pitfalls</p>
        </div>
    </div>
    <div class="row row-even text-center">
        <div class="col-xs-12 text-center">
            <h2>Our Approach</h2>
        </div>
        <div class="col-sm-4">
            <div class="col-xs-12 text-center">
                <img src="/img/inform.jpg" class="img-responsive img-circle">
            </div>
            <h2>1 | Inform</h2>
            <div class="col-sm-12 text-left">
                Learn important internet safety topics and skills
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-xs-12 text-center">
                <img src="/img/interact.jpg" class="img-responsive img-circle">
            </div>
            <h2>2 | Interact</h2>
            <div class="col-xs-12 text-left">
                Interact with your new knowledge through quick quizzes with immediate feedback
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-xs-12 text-center">
                <img src="/img/simulate.jpg" class="img-responsive img-circle">
            </div>
            <h2>3 | Simulate</h2>
            <div class="col-xs-12 text-left">
                Put your new skills to the ultimate test in realistic simulations
            </div>
        </div>
    </div>
    <div class="row row-odd">
        <div class="col-xs-12 text-center">
            <h2>Ready to Cover Your Apps?</h2>
        </div>
        <div class="col-xs-12 text-center">
            <p><a href="#!/module-list"><span class="emphasize-text">Explore</span> our interactive courses and start learning today.</p>
        </div>
    </div>  


</body>
