body,
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow-x: hidden;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

a:visited {
    text-decoration: none;
}

a,
a:visited,
a:active,
a:link {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #851e1e;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    position: fixed;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px rgb(211, 211, 211) solid;
    color: #000000;
    z-index: 1000000000000000000000;
    padding-left: 1rem;
    padding-right: 1rem;
}

md-toolbar a,
md-toolbar a:visited,
md-toolbar a:active,
md-toolbar a:link {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

md-toolbar a:hover {
    color: #851e1e;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: -20px;
    left: 10%;
    min-height: 50px;
    width: 102.547px;
    height: 105px;
}

@media (min-width: 768px) {
    .logo {
        top: -40px;
    }
}

.cover-your-apps {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.container {
    height: 100%;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Overriding a grid preset */

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

.md-subheader {
    height: 100px;
    color: #000000;
    text-align: center;
}

a.button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 auto
}

.row.footer {
    background-color: rgba(211, 211, 211, 1);
    text-align: center;
    min-height: 40px;
    line-height: 40px;
}

.col-xs-12 p {
    margin-bottom: 0;
}

md-toolbar .emphasize {
    text-align: center;
    border: 2px solid #851e1e;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

md-toolbar .emphasize a,
md-toolbar .emphasize a:visited,
md-toolbar .emphasize a:active,
md-toolbar .emphasize a:link {
    text-transform: uppercase;
    font-weight: 600;
    color: #851e1e;
    text-decoration: none;
}

md-toolbar .emphasize a:hover {
    color: #ffffff;
    text-decoration: none;
}

md-toolbar .emphasize:hover {
    background-color: #851e1e;
}

md-toolbar .emphasize .md {
    font-size: 1.25em;
}

#landscape-plase {
    display: none;
}

@media only screen and (orientation: portrait) {
  #container-for-forcing-landscape {
      display: none;
  }

  #landscape-please {
      display: block;
      font-size: 500%;
      width: 50%;
      margin: 0 auto;
  }
}
