body,
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    color: #000000;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000000;
}



md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
}

md-toolbar a,
md-toolbar a:visited,
md-toolbar a:active,
md-toolbar a:link {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}


md-toolbar a:hover {
    color: #851e1e;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: -20px;
    left: 10%;
    max-height: 100px;
}

.container {
    background-color: #ffffff;
}


.md-subheader {
    height: 200px;
    background-color: #d3d3d3;
    color: #000000;
    text-align: center;
}