body,
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow-x: hidden;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

a:visited {
    text-decoration: none;
}

a,
a:visited,
a:active,
a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #851e1e;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    position: fixed;
    height: 100px;
    background-color: rgba(211, 211, 211, 0.95);
    color: #000000;
}

md-toolbar a,
md-toolbar a:visited,
md-toolbar a:active,
md-toolbar a:link {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

md-toolbar a:hover {
    color: #851e1e;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: -20px;
    left: 10%;
    max-height: 80px;
    min-height: 50px;
    min-width: 50px;
}

@media (min-width: 768px) {
    .logo {
        top: -40px;
    }
}

.container {
    height: 100%;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Overriding a grid preset */

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

.md-subheader {
    height: 100px;
    height: 100px;
    color: #000000;
    text-align: center;
}

a.button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 auto
}

.row.footer {
    background-color: rgba(211, 211, 211, 1);
    text-align: center;
    min-height: 40px;
    line-height: 40px;
}

.col-xs-12 p {
    margin-bottom: 0;
}
