<link rel="stylesheet" href="components/module-list/moduleList.css" />
<div class="container">
	<h1>Learn</h1>
	<p>
		Select from the following modules to learn more about these topics
	</p>
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-2">
				<a ng-href="#!/auth" class="button module-button">
					<div>
						<div class-"row">
							<i class="glyphicon glyphicon-lock"></i>
						</div>
						<div class="row">
							Authentication
						</div>
					</div>
				</a>
					<div class="row module-description">
						<div class="col-xs-12">
							<p>
								Insert module description here
							</p>
						</div>
					</div>
			</div>


		
		<div class="col-md-2">
			<a ng-href="#!/phishing" class="button module-button">
				<div>
					<div class="row">
						<i class="glyphicon glyphicon-envelope"></i>
					</div>
					<div class="row">
						Phishing
					</div>
				</div>
			</a>
			<div class="row module-description">
				<div class="col-xs-12">
					<p>
						Insert module description here
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>