*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: Helvetica;
    text-align: center;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #eee;
    padding: 0.5em 1em 0.5em 1em;
}
