body,
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    color: #3e3e40;
}

a {
    text-decoration: none;
    color: #3e3e40;
}

.dropdown .svg {
    cursor: pointer;
}

.dropdown .svg:hover {
    opacity: 1;
}


/* Dropdown Content (Hidden by Default) */
.dropdown .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown .dropdown-content a {
    color: black;
    padding-left: 1rem;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content a+a {
    border-top: 1px solid lightgrey;
}

md-toolbar.nav {
    background: #3dd6da;
    padding: 0.5em 2em 0 2em;
    margin: -0.5em 0 0 0;
    height: 3.5em;
    line-height: 3em;
    border-bottom: solid 1px #84e3ea;
}

md-toolbar.nav a {
    color: white;
}

md-toolbar h2 {
    justify-content: center;
    margin-top: 2px;
    position: absolute;
}

md-toolbar .svg {
    opacity: 0.8;
}

.search-container {
    margin-left: 1rem;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-container input#search {
    height: 35px;
    width: 200px;
    background: #84e3ea;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    font-weight: bold;
    padding-left: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.search-container input#search:focus {
    outline-width: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.search-container .svg {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 7px;
    margin-top: 7px;
    z-index: 1;
    color: white;
}

md-toolbar .nav-button {
    font-size: 11pt;
}

.md-subheader {
    height: 400px;
    background: #3dd6da;
    background: -webkit-linear-gradient(#3dd6da, #11accd);
    background: -o-linear-gradient(#3dd6da, #11accd);
    background: -moz-linear-gradient(#3dd6da, #11accd);
    background: linear-gradient(#3dd6da, #11accd);
}

.md-subheader .md-subheader-inner {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
}

.md-subheader .md-subheader-content {
    display: table-cell;
    vertical-align: middle;
}

.md-subheader .header-text {
    color: white;
    text-align: center;
    font-size: 20pt;
    line-height: 1.5;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    text-align: center;
    padding: 0.5em 1em 1em 1em;
}

.content-container.about-us {
    font-family: font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, sans-serif;
}
