.content-grid {
    overflow-y: scroll;
}

.quiz-container {
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

.prompt {
    display: block;
}

.prompt .question {
    padding-top: 1rem;
}

.prompt .image {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.img-citation {
    font-size: .5em;
}

.prompt .image img {
    max-width: 500px;
}

.prompt .answers {
    display: inline-block;
}

.prompt .answers+.answers {
    padding-left: 4rem;
}

.prompt .answers .md-button.submit {
    background-color: gray;
    color: white;
}

.feedback {
    display: block;
    position: absolute;
    background: white;
    opacity: 0.98;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 1;
    top: calc(50px + 2%);
    height: calc((100vh - 75px - 150px) * 0.90);
    width: 95%;
    box-shadow: -1px 1px 10px 0 gray;
}

.feedback h4 {
    line-height: 1.2;
}

.correctAnswer {
    background-color: limegreen;
}

.incorrectAnswer {
    background-color: red;
}
