.content-grid {
    overflow-y: scroll;
}

.quiz-container {
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

.prompt {
    display: block;
}

.prompt .question {
    padding-top: 1rem;
    text-align: left;
}

.prompt .image {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.img-citation {
    font-size: .5em;
}

.prompt .image img {
    max-width: 500px;
}

.prompt .answers {
    display: inline-block;
}

.prompt .answers+.answers {
    padding-left: 4rem;
}

.prompt .answers .md-button.submit {
    background-color: gray;
    color: white;
}

.feedback {
    display: block;
    position: absolute;
    background: white;
    opacity: 0.98;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 1;
    top: calc(50px + 2%);
    height: calc((100vh - 75px - 150px) * 0.90);
    width: 95%;
    box-shadow: -1px 1px 10px 0 gray;
}

.feedback h4 {
    line-height: 1.2;
}

.correctAnswer {
    background-color: #1e8552;
}

.incorrectAnswer {
    background-color: #851e1e;
}

.answer-bar {
    background-color: #851e1e;
}

.answer-padding {
    height: 60px;
}

.statistic-subheader {
    margin: 0;
    text-align: left;
    position: relative;
    top: -1em;
}

.statistics-header{
    text-align: left;
}

.answer-popup {
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.25em;
    width: 100%;
    position: fixed;
    text-align: center;
    height: 60px;
    padding: 20px;
    z-index: 100000;
}