.content-grid {
    overflow-y: scroll;
}

.quiz-container {
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

.quiz-container img {
    border: 2px solid black;
    max-width: 500px;
}

.question {
    padding-top: 1rem;
}

.image {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.answers {
    display: inline-block;
}

.answers+.answers {
    padding-left: 4rem;
}

.answers .md-button.submit {
    background-color: gray;
    color: white;
}

.answers button+button {
    padding-right: 5rem;
}

.correctAnswer {
    background-color: limegreen;
}

.incorrectAnswer {
    background-color: red;
}
