<link rel="stylesheet" href="components/quiz/quiz.css" />
<script src="components/quiz/quiz.js"></script>
<div class="quiz-container">
    <div class="prompt">


        <div class="row ng-if="$ctrl.slide.imgSrc"">
            <div class="col-xs-3">
                <h2 class="question" ng-bind-html="$ctrl.slide.text | html"></h2>
                <div class="answers" ng-repeat="currentOption in $ctrl.slide.options">
                    <md-button class="submit" ng-if="!module.displayQuizAnswer" ng-click="quiz.submit(currentOption)">{{ currentOption.text }}</md-button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="image">
                    <img ng-src="{{ $ctrl.slide.imgSrc }}" />
                    <p class="img-citation"> Source: 
                        <a ng-href="{{ $ctrl.slide.imgCitation }}">{{ $ctrl.slide.imgCitation }}</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-3" ng-if="! module.displayQuizAnswer">
                
            </div>
            <div class="col-xs-3" ng-if="module.displayQuizAnswer">
                <h1 class="correctAnswer" ng-if="module.quizResponseCorrect">Correct!</h1>
                <h1 class="incorrectAnswer" ng-if="!module.quizResponseCorrect">Not quite!</h1>
                <br />
                <h4 class="answer" ng-bind-html="module.quizResponse | html"></h4>
                <br />
                <h4 ng-if="module.quizStatistics">How did you do compared to others?</h4>
                <h3 class="statistics" ng-bind-html="module.quizStatistics | html"></h3>
            </div>

        </div>



        <div class="row" ng-if="! $ctrl.slide.imgSrc">
            <div class="col-xs-9">
                <h2 class="question" ng-bind-html="$ctrl.slide.text | html"></h2>
                <div class="answers" ng-repeat="currentOption in $ctrl.slide.options">
                    <md-button class="submit" ng-if="!module.displayQuizAnswer" ng-click="quiz.submit(currentOption)">{{ currentOption.text }}</md-button>
                </div>
            </div>

            <div class="col-xs-3" ng-if="! module.displayQuizAnswer">
                
            </div>
            <div class="col-xs-3" ng-if="module.displayQuizAnswer">
                <h1 class="correctAnswer" ng-if="module.quizResponseCorrect">Correct!</h1>
                <h1 class="incorrectAnswer" ng-if="!module.quizResponseCorrect">Not quite!</h1>
                <br />
                <h4 class="answer" ng-bind-html="module.quizResponse | html"></h4>
                <br />
                <h4 ng-if="module.quizStatistics"><b>How did you do compared to others?</b></h4>
                <h3 class="statistics" ng-bind-html="module.quizStatistics | html"></h3>
            </div>



        </div>
        
    </div>
</div>
