<link rel="stylesheet" href="components/quiz/quiz.css" />
<div class="quiz-container">
    <div id="quiz-flex">
        <div class="question-container">
            <h2>Quiz Time!</h2>
            <br />
            <p class="question" ng-bind-html="$ctrl.slide.text | html">
            </p>
            <br />
            <br />
            <div class="answers" ng-repeat="currentOption in $ctrl.slide.options">
                <md-button class="md-raised md-primary" ng-disabled="module.displayQuizAnswer" ng-click="quiz.submit($event, currentOption)">{{ currentOption.text }}</md-button>
            </div>
        </div>
        <span flex ng-if="$ctrl.slide.imgSrc"></span>
        <div class="image" ng-if="$ctrl.slide.imgSrc">
            <img ng-src=" {{ $ctrl.slide.imgSrc }} " />
            <p class="img-citation "> Source:
                <a ng-href="{{ $ctrl.slide.imgCitation }} ">{{ $ctrl.slide.imgCitation }}</a>
            </p>
        </div>
    </div>
</div>
