<link rel="stylesheet" href="components/sketchy-bcc/sketchyBcc.css" />
<div class="sketchy-bcc-container">
  <h2>{{ content.subject }}</h2>
  <hr>
  <div class="faked-email-header">
    <span ng-bind-html="content.from | html"></span>
    <br>
    <span ng-bind-html="content.to | html"></span>
  </div>
  <div class="faked-email-reply">
    <img src="/img/etc/email-reply-img.png" width="100px"/>
  </div>
  <div class="delete-email">
    <md-button class="md-warn md-raised md-hue-2" ng-click="showCorrect($event)">Delete</md-button>
  </div>
  <br><br>
  <div class="faked-email-content"><br><br>
    <span ng-bind-html="content.text | html"></span>
    <br><br>
    <p>
      <md-button class="md-raised md-primary" ng-mousedown="showIncorrect($event)">Open in Docs</md-button>
    </p>
  </div>
</div>
