<link rel="stylesheet" href="components/sketchy-bcc/sketchyBcc.css" />
<div class="sketchy-bcc-container">
  <h2>{{content}}</h2>
  <hr>
  <div class="faked-email-header">
    <b>Sasha Perigo</b> &lt;sperigo@stanford.edu&gt;
    <br>
    to hhhhhhhhhhhhhh., bcc: USERNAME_HERE
  </div>
  <div class="faked-email-reply">
    <img src="/img/etc/email-reply-img.png" width="100px"/>
  </div>
  <div class="delete-email">
    <md-button class="md-warn md-raised md-hue-2" ng-click="showCorrect($event)">Delete</md-button>
  </div>
  <br><br>
  <div class="faked-email-content"><br><br>
    Sasha Perigo has invited you to view the following document:
    <br><br>
    <p>
      <md-button class="md-raised md-primary" ng-mousedown="showIncorrect($event)">Open in Docs</md-button>
    </p>
  </div>
</div>
