<md-dialog class="amazon-dialog">

<link rel="stylesheet" href="components/amazon/amazon.css" />

<md-toolbar style="min-height:35px; max-height:35px;">
  <div class="md-toolbar-tools">
    <h4 md-truncate flex>https://www.amazon.com/Manischewitz-Premium-Gold-Gefilte-14-50-Ounce/dp/B004DNESJO</h4>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div class="container">
    <div class="login-container">
        <div class="login-box">
            <p><img src="img/etc/amazon-logo.png"></p>
            <h3>Manischewitz Premium Gold Gefilte Fish No MSG, 14.50-Ounce (Pack of 3)</h3>
            <div class="enterOld">
                <p><img src="img/etc/fish.jpg" style="width: 80%"></p>
                <p>Price: <span style="color:#b12704"><span style="font-size: 120%;">$18.98</span> ($0.44 / Ounce)</span> + $8.92 shipping</p>
            </div>
            <div class="login-options">
                <p class="inline-justify">
                    <img src="img/etc/buy-one-click.png" ng-click="buyFish()" style="width: 80%">
                </p>
                <p>(<strong>Visa</strong> ending in 5622)</p>
                <p><strong>Ship to:</strong> Jon Podesta - Washington - 20001</p>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="login-footer">
            <span>Help</span>
            <span>Privacy</span>
            <span>Terms</span>
        </div>
    </div>
</div>
</md-dialog>
