<link rel="stylesheet" href="components/text-image/textImage.css" />
<div class="text">
    <div id="text-header" ng-if="$ctrl.slide.title">
        {{ $ctrl.slide.title }}
    </div>
    <div id="text-content" ng-bind-html="slideText">
    </div>
</div>
<div class="interactive">
    <sketchy-url ng-if="$ctrl.slide.slideType === 'sketchyUrl'"></sketchy-url>
    <sketchy-https ng-if="$ctrl.slide.slideType === 'sketchyHttps'"></sketchy-https>
    <sketchy-bcc ng-if="$ctrl.slide.slideType === 'sketchyBcc'"></sketchy-bcc>
    <img ng-if="$ctrl.slide.slideType === 'textImage'" ng-src="{{ $ctrl.slide.imgSrc }}" />
</div>
