<link rel="stylesheet" href="components/text-image/textImage.css" />
<div class="text">
    <h4 id="text-header" ng-if="$ctrl.slide.title" ng-bind-html="$ctrl.slide.title | html"></h4>
    <div id="text-content" ng-bind-html="$ctrl.slide.text | html">
    </div>
</div>
<div class="interactive">
    <sketchy-url ng-if="$ctrl.slide.slideType === 'sketchyUrl'"></sketchy-url>
    <sketchy-https ng-if="$ctrl.slide.slideType === 'sketchyHttps'"></sketchy-https>
    <sketchy-email ng-if="$ctrl.slide.slideType === 'sketchyEmail'" slide="$ctrl.slide"></sketchy-email>
    <img ng-if="$ctrl.slide.slideType === 'textImage'" ng-src="{{ $ctrl.slide.imgSrc }}" />
</div>
