<link rel="stylesheet" href="components/module/module.css" />
<div class="module-container">
    <div class="content-grid">
        <div class = "md-toolbar.header">
            <div class = "sectionNames" ng-repeat = "currentName in module.sectionNames">
                <md-button ng-click="module.setSection(currentName)">{{currentName}}</md-button>
            </div>
        </div>
        <!--<div class = "text-header">{{module.scripts[module.pageNumber].sectionName}}</div>-->
        <div class="text">
            <div class="text-header">
                <md-icon md-svg-icon="img/icons/book.svg" class="svg" role="img" aria-hidden="true"></md-icon>Learn</div>
            <div class="text-content">
                <p>{{module.scripts[module.section][module.pageNumber].text}}</p>
            </div>
        </div>
        <div class="interactive">
            <img src="/img/stock-photo.jpg" />
        </div>
    </div>
    <md-toolbar layout-align="space-around center" class="footer">
        <span>{{module.name}}</span>
        <span flex></span>
        <md-button ng-disabled="module.pageNumber < 2" ng-click="module.decrementPage()">Back</md-button>
        <span>{{module.pageNumber}}/{{module.length}}</span>
        <md-button ng-disabled="module.pageNumber >= module.maxPages" ng-click="module.incrementPage()">Next</md-button>
        <span flex></span>
    </md-toolbar>
</div>
