<header>
    <link rel="stylesheet" href="components/module/module.css" />
</header>
<div class="module-container">
    <div class="section-label">Section {{module.sectionNumber}}: {{module.section}}</div>
    <div class="content-grid">
        <div class="text">
            <div class="text-header">
                Description
            </div>
            <div id="text-content">
                <!-- <div class="md-toolbar.header">
                    <div class="sectionNames" ng-repeat="currentName in module.sectionNames">
                        <div ng-click="module.setSection(currentName)">{{currentName}}</div>
                    </div>
                </div> -->
                <!-- <p>{{module.scripts[module.section][module.pageNumber].text}}</p> -->
            </div>
        </div>
        <div class="interactive">
            <div ng-if="module.moduleComponent === 'sketchyUrl'" ng-controller="SketchyUrlController as sketchyUrl"></div>
            <img ng-show="module.moduleImage" src="{{module.moduleImage}}" />
        </div>
    </div>
    <md-toolbar layout-align="space-around center" class="footer">
        <span>{{module.name}}</span>
        <span flex></span>
        <md-button ng-disabled="module.pageNumber < 2" ng-click="module.decrementPage()">Back</md-button>
        <span>{{module.pageNumber}}/{{module.length}}</span>
        <md-button ng-disabled="module.pageNumber >= module.length" ng-click="module.incrementPage()">Next</md-button>
        <span flex></span>
        <md-button ng-show="module.pageNumber === module.length" ng-click="module.nextSection()" class="next-section">Next Section</md-button>
    </md-toolbar>
</div>
