<link rel="stylesheet" href="components/module/module.css" />
<div class="module-container">
    <div class="section-label" ng-click="module.sectionDropdown()">
        <md-icon md-svg-icon="img/icons/menu.svg" class="svg" role="img" aria-hidden="true"></md-icon>
        <h4>Section {{module.sectionNumber}}: {{module.section}}</h4>
        <div class="dropdown-content">
            <ul>
                <li ng-repeat="name in module.sectionNames" ng-click="module.setSection($index, name)">{{name}}</li>
            </ul>
        </div>
    </div>
    <div class="content-grid">
        <text-slide ng-if="module.slide.slideType === 'text'" slide="module.slide"></text-slide>
        <text-image ng-if="module.slide.slideType === 'textImage' || module.slide.slideType === 'sketchyUrl'|| module.slide.slideType === 'sketchyHttps'" slide="module.slide"></text-image>
        <quiz ng-if="module.slide.slideType === 'quiz'" slide="module.slide"></quiz>
    </div>
    <md-toolbar layout-align="space-around center" class="footer">
        <span>{{module.name}}</span>
        <span flex></span>
        <md-button ng-show="module.pageNumber === 1 && module.sectionNumber !== 1" ng-click="module.prevSection()" class="prev-section">Return to section {{module.sectionNumber - 1}} of {{module.json.length}}</md-button>
        <md-button ng-disabled="module.pageNumber < 2" ng-click="module.decrementPage()">Back</md-button>
        <span>{{module.pageNumber}}/{{module.length}}</span>
        <md-button ng-disabled="module.pageNumber >= module.length || (module.slideType === 'quiz' && !module.displayQuizAnswer)" ng-click="module.incrementPage($event)">Next</md-button>
        <span flex></span>
        <md-button ng-show="module.pageNumber === module.length && module.sectionNumber < module.json.length" ng-click="module.nextSection()" class="next-section">Move on to section {{module.sectionNumber + 1}} of {{module.json.length}}</md-button>
    </md-toolbar>
</div>
