<link rel="stylesheet" href="components/sketchy-email/sketchyEmail.css" />
<link rel="stylesheet" href="components/inbox-simulation/inboxSimulation.css" />
<div class="text">
    <h4 id="text-header">Inbox</h4>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="email in emails" ng-if="!email.deleted">
        <div class="md-list-item-text" layout="column" ng-click="chooseEmail(email)"
             ng-class="{seen: email.seen, selected: email === rhs}" >
          <h3>{{email.emailData.subject}}</h3>
          <p ng-bind-html="email.emailData.from | html"></p>
        </div>
      </md-list-item>
    </md-list>
    <div ng-if="!allSeen" class="instructions">
        <p>Go through your whole inbox and take care of each email.</p>
        <p>If you need to provide any sensitive information, we'll auto fill that in for you. For other stuff, you can respond with whatever you think is appropriate.</p>
    </div>
    <div ng-if="allSeen" class="instructions">
        <p>Done checking your email? Make sure you handle all the business you need to, then click the button below.</p>
        <md-button class="md-raised" ng-click="allDone()">
            I'm done!
        </button>
    </div>
</div>
<div class="interactive">
    <div id="start-inbox" ng-if="!rhs">Select an email from your inbox on the left.</div>
    <div class="sketchy-email-container" ng-if="rhs">
        <h2>{{ rhs.emailData.subject }}</h2>
        <hr>
        <div class="faked-email-header">
            <span ng-bind-html="rhs.emailData.from | html"></span>
            <br /> to: <span ng-bind-html="rhs.emailData.to | html"></span>
        </div>
        <div class="faked-email-reply">
        </div>
        <div class="delete-email">
            <img src="/img/etc/email-reply-img.png" width="100px" />
            <md-button name="delete" class="md-warn md-raised md-hue-2" ng-click="deleteEmail()">{{ rhs.options[0].text }}</md-button>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="faked-email-content">
            <br />
            <br />
            <span ng-bind-html="rhs.emailData.text | html"></span>
            <br />
            <br />
            <p>
                <md-button name="respond-email" class="md-raised md-primary" ng-href="{{rhs.options[1].link}}" ng-click="action($event)" ng-disabled="module.displayQuizAnswer">{{ rhs.options[1].text }}</md-button>
            </p>
        </div>
    </div>
</div>
