<link rel="stylesheet" href="components/password-list/passwordList.css" />
<div class="password-container">
    <h1 ng-if="$ctrl.slide.title" ng-bind-html="$ctrl.slide.title | html"></h1>
    <br ng-if="$ctrl.slide.title" />
    <ul id="password-list">
        <li ng-repeat="password in passwordList.list">
            <h3>{{$index + 1}}. {{password}}</h3>
        </li>
    </ul>
    <div class="citation"><b>Source:</b> <a href="{{$ctrl.slide.citation}}">{{$ctrl.slide.citation}}</a></div>
</div>
