.password-container {
    margin-top: 225px;
    transform: translateY(-50%);
    width: 75%;
    left: 12.5%;
    position: absolute;
    text-align: center;
}

#password-list {
    column-count: 2;
    column-gap: 4rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#password-list li {
    margin-bottom: 1rem;
}

#password-list li h3 {
    font-weight: 700;
    color: #8f0f1c;
    margin: 0;
}

.citation {
	font-size: 0.8em;
}