.password-container {
    margin-top: 225px;
    transform: translateY(-50%);
    width: 75%;
    left: 12.5%;
    position: absolute;
    text-align: left;
}

#password-list {
    column-count: 2;
    column-gap: 4rem;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.password-container h1 {
    font-weight: 700;
    text-align: center;
}

#password-list li {
    margin-bottom: 1rem;
}

#password-list li h3 {
    margin: 0;
}

#password-list li .number {
    color: #8f0f1c;
    font-weight: 700;
    padding-right: 0.25em;
}

#password-list li .lt-ten {
    padding-right: 0.75em;
}

.citation {
    font-size: 0.8em;
    text-align: center;
}
